.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forms {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.forms input {
  width: 300px;
}
.btn-primary {
  margin: 5px;
}
